@model Company

<div class="d-flex align-items-center justify-content-between">
    <h4>Finance Requests</h4>
    <!-- navigation link to CreateTicket action, passing correct route parameter -->
    @* Commented out <a asp-action="TicketCreate" asp-route-id="@Model.Id" class="btn btn-sm btn-light"
    aria-label="create ticket">
    <i class="bi bi-bag-plus-fill" title="create ticket"></i>
    <span class="ms-1 d-none d-md-inline">Add Ticket</span>
    </a> *@
</div>

<table class="table table-sm mt-2">
    <thead>
        <tr>
            <th>Request No.</th>
            <th>Submitted On</th>
            <th>Purpose</th>
            <th>Amount</th>
            <th>Tenor</th>
            <th>Facility</th>
            <th>Status</th>
            <th class="text-end">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.FinanceRequests.Count == 0)
        {
            <tr>
                <td colspan="4">No Requests...</td>
            </tr>
        }
        else
        {

            @foreach (var f in Model.FinanceRequests)
            {
                <tr>
                    <td>@f.RequestNo</td>
                    <td>@f.DateOfRequest</td>
                    <td>@f.Purpose</td>
                    <td>@f.Amount</td>
                    <td>@f.Tenor</td>
                    <td>@f.FacilityType</td>
                    <td>@f.Status</td>


                    <td class="text-end">
                    <td>
                        <a asp-controller="FinanceRequest" asp-action="Details" asp-route-requestNo="@f.RequestNo">
                            <i class="bi bi-display-fill me-2" title="view request" arial-label="view request"></i>
                        </a>
                        <a asp-controller="FinanceRequest" asp-action="RequestEdit" asp-route-requestNo="@f.RequestNo">
                            <i class="bi bi-pencil-fill me-2" title="edit company" aria-label="edit company"></i>
                        </a>
                    </td>
                        @* Commented Out @if (t.Active) {
            <a asp-condition="@t.Active" asp-action="TicketDelete" asp-route-id="@t.Id" class="btn btn-sm
            btn-outline-danger">
            <i class="bi bi-trash-fill" title="delete ticket"></i>
            <span class="ms-1 d-none d-md-inline">Delete</span>
            </a>
            } else {
            <!-- use button to allow use of disable attribute -->
            <button disabled class="btn btn-sm btn-outline-warning">
            <i class="bi bi-trash-fill" title="delete ticket disabled"></i>
            <span class="ms-1 d-none d-md-inline">Delete</span>
            </button>
            }
            @if (t.Active) {
            <a asp-action="TicketEdit" asp-route-id="@t.Id" class="btn btn-sm btn-outline-dark">
            <i class="bi bi-pen-fill" title="edit ticket"></i>
            <span class="ms-1 d-none d-md-inline">Edit</span>
            </a>
            } else {
            <!-- use button to allow use of disable attribute -->
            <button disabled class="btn btn-sm btn-outline-warning">
            <i class="bi bi-pen-fill" title="edit ticket disabled"></i>
            <span class="ms-1 d-none d-md-inline">Edit</span>
            </button>
            } *@


                    </td>
                </tr>

            }
        }
    </tbody>
</table>