@model Paged<Company>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Companies")
}) />

<div class="card border rounded shadow p-4">
 
    <!-- Title bar -->
    <div class="d-flex align-items-center justify-content-between">
        <h3>Company</h3>
        
        @* <a asp-condition=@User.HasOneOfRoles("admin") class="btn btn-sm btn-primary" asp-action="create" title="add student" aria-label="add student">
           <i class="bi bi-plus"></i> Create
        </a> *@
           <a class="btn btn-sm btn-primary" asp-action="create" title="add company" aria-label="add company">
           <i class="bi bi-plus"></i> Create
        </a>
        
    </div>

    <!-- List of companies -->
    <table class="table table-hover mt-4">
        <thead>
            <tr>
                <thead>
                    <tr>
                        <th>
                            Commercial Registration
                            <a asp-action="CompanyIndex" 
                                asp-route-order="crNo" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="crNo" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Name
                            <a asp-action="CompanyIndex" 
                                asp-route-order="companyname" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="companyname" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Industry
                            <a asp-action="CompanyIndex" 
                                asp-route-order="industry" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="industry" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Established
                            <a asp-action="CompanyIndex" 
                                asp-route-order="dateofestablishment" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="dateofestablishment" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Activity
                            <a asp-action="CompanyIndex" 
                                asp-route-order="activity" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="activity" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Type
                            <a asp-action="CompanyIndex" 
                                asp-route-order="type" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="type" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>
                        <th>
                            Shareholders
                            <a asp-action="CompanyIndex" 
                                asp-route-order="shareholderstructure" 
                                asp-route-direction=@Model.Direction 
                                asp-route-page=@Model.CurrentPage 
                                asp-route-size=@Model.PageSize >
                                <vc:sort-order field="shareholderstructure" orderby=@Model.OrderBy direction=@Model.Direction />  
                            </a>  
                        </th>   
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var c in Model.Data)
                    {
                        <tr>
                            <td>@c.CRNo</td>
                            <td>@c.CompanyName</td>
                            <td>@c.Industry</td>
                            <td>@c.DateOfEstablishment</td>
                            <td>@c.Activity</td>
                            <td>@c.Type</td>
                            <td>@c.ShareholderStructure</td>
                            <td>                       
                                <a asp-action="CompanyDetails" asp-route-crNo="@c.CRNo">
                                    <i class="bi bi-display-fill me-2" title="view company" arial-label="view company"></i>
                                </a>
                                <a asp-action="Edit" asp-route-crNo=@c.CRNo>
                                    <i class="bi bi-pencil-fill me-2" title="edit company" aria-label="edit company"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>