@model IList<Company>

<partial name="_BreadCrumbs" model=@(new [] {
    ("/","Home"),
    ("","Companies")
}) />

<div class="card border rounded shadow p-4">
 
    <!-- Title bar -->
    <div class="d-flex align-items-center justify-content-between">
        <h3>Company</h3>
        
        @* <a asp-condition=@User.HasOneOfRoles("admin") class="btn btn-sm btn-primary" asp-action="create" title="add student" aria-label="add student">
           <i class="bi bi-plus"></i> Create
        </a> *@
           <a class="btn btn-sm btn-primary" asp-action="create" title="add company" aria-label="add company">
           <i class="bi bi-plus"></i> Create
        </a>
        
    </div>

    <!-- List of companies -->
    <table class="table table-hover mt-4">
        <thead>
            <tr>3
                <th><a asp-action="Index" asp-route-order="cr_no">Commercial Registration</a></th>
                <th><a asp-action="Index" asp-route-order="companyName">Name</a></th>
                <th><a asp-action="Index" asp-route-order="industy">Industry</a></th>
                <th><a asp-action="Index" asp-route-order="dateOfEstablishment">Established</a></th>
                <th><a asp-action="Index" asp-route-order="activity">Activity</a></th>
                <th><a asp-action="Index" asp-route-order="companyType">Type</a></th>
                <th><a asp-action="Index" asp-route-order="shareholderStructure">Shareholders</a></th>   
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var c in Model)
            {
                <tr>
                    <td>@c.CR_No</td>
                    <td>@c.CompanyName</td>
                    <td>@c.Industry</td>
                    <td>@c.DateOfEstablishment</td>
                    <td>@c.Activity</td>
                    <td>@c.Type</td>
                    <td>@c.ShareholderStructure</td>
                    <td>                       
                        <a asp-action="Details" asp-route-id=@c.CR_No>
                            <i class="bi bi-display-fill me-2" title="view company" arial-label="view compamy"></i>
                        </a>
                        @* <a asp-condition=@User.HasOneOfRoles("admin,support") asp-action="Edit" asp-route-id=@c.Id>
                            <i class="bi bi-pencil-fill me-2" title="edit company" aria-label="edit company"></i> *@
                         <a asp-action="Edit" asp-route-id=@c.CR_No>
                            <i class="bi bi-pencil-fill me-2" title="edit company" aria-label="edit company"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
